body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../fetch/assets/fondo2.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    height: 190px;
}

.pokecont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: red;
    border: 3px solid black;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    box-shadow: 2px 1px 15px;
}

.pokeimg {
    width: 150px;
    height: 150px;
    background-color: rgb(148, 151, 133);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 1px 15px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 1px 15px;
}

.caja {
    padding: 10px;
    margin-bottom: 6px;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 1px 15px;
}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    box-shadow: 2px 1px 15px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: blue;
    cursor: pointer;
}